[defaults]
inventory = inventory/
# vault_password_file =
remote_tmp = /tmp/.ansible-${USER}
pipelining = true
allow_world_readable_tmpfiles = true
host_key_checking = false

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
